<div class="row mb-2">
  <div class="col-md-6 offset-md-3">
    <%= render "users/profile_nav", user: @user %>
  </div>
</div>

<% photos.each do |photo| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <%= render "photos/photo", photo: photo %>
    </div>
  </div>
<% end %>