<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "users/user", user: @user %>
  </div>
</div>

<% if policy(@user).show? %>
  <%= render "users/photos_tab", user: @user, photos: @user.own_photos %>
<% end %>
